- name: Install nginx
  ansible.builtin.dnf:
    name: nginx
    state: present

- name: Copy the nginx file
  ansible.builtin.copy:
    src: nginx.conf
    dest: /etc/nginx/nginx.conf
  notify: Restart Nginx
